<!-- templates/index.html -->

{% extends 'base.html' %}

{% block title %}Adopt a Pet!{% endblock %}

{% block content %} 
    <h1>Find Your Perfect Companion</h1>
    <p>We have {{ total_pets }} pets available for adoption!</p>
    <p>Browse our available pets and give a loving home to your new best friend!</p>
    <ul>
        <li><a href='/animals/dogs'>Dogs</a></li>
        <li><a href='/animals/cats'>Cats</a></li>
        <li><a href='/animals/rabbits'>Rabbits</a></li>
    </ul>
{% endblock %}
    
